
body{
    background-color: black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: none;
}

#cursor{
    position: fixed;
    width: 11.5px;
    height: 11.5px;
    background-color: rgb(0,116,255);
    pointer-events: none;
    z-index: 1000;

}

/* #content {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 1.5s ease-in;
} */


#divide-line-1{
    position: absolute;
    /* margin: auto;
    top: 50%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,116,255);
    width: 100vw;
    height: 1px;
    z-index: 100;
}

#divide-line-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* left: 50%;
    margin-top: -5px; */
    background-color: rgb(0,116,255);
    width: 1px;
    height: 105vh;
    z-index: 100;
}

#center-square{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11.5px;
    height: 11.5px;
    background-color: rgb(0,116,255);
    z-index: 100;
}

#about{
    position: relative;
    /* background-color: rgb(36, 36, 36); */
    width: 50%;
    height: 50%;
    overflow: scroll;
}

#about-title{
    position: absolute;
    font-family: owners-xwide, sans-serif;
    font-weight: 100;
    font-style: normal;
    /* font-family: area-normal, sans-serif;
    font-weight: 100;
    font-style: normal; */
    color: rgb(0,116,255);
    font-size: 24px;
    bottom:0px;
    left: 35px;

}

#about-title span{
    position: absolute;
    display: inline-flex;
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    /* font-family: area-normal, sans-serif;
    font-weight: 100;
    font-style: normal; */
    color: rgb(0,116,255);
    font-size: 28px;
    left: -28px;
    top: -4px;

}

.star{
    position: absolute;
    top: -100px;
    right: 0;
    transform: rotateZ(45deg);
}

.star:nth-child(2){
    right: 150px;
}

.star:nth-child(2) span{
    animation-delay: 1s;
}

.star:nth-child(3){
    right: -100px;
}

.star:nth-child(3) span{
    animation-delay: 1s;
}


.star:nth-child(4){
    right: -200px;
}

.star:nth-child(4) span{
    animation-delay: 2s;
}

.star:nth-child(5){
    right: 200px;
    z-index: -1;
}

.star:nth-child(5) span{
    animation-delay: 3s;
}

.star:nth-child(6){
    right: 300px;
}

.star:nth-child(6) span{
    animation-delay: 4s;
}

.star:nth-child(7){
    right: -300px;
}

.star:nth-child(7) span{
    animation-delay: 5s;
}

.star:nth-child(8){
    right: 500px;
    z-index: -1;
}

.star:nth-child(8) span{
    animation-delay: 5s;
}

.star:nth-child(7){
    right: -300px;
}

.star:nth-child(7) span{
    animation-delay: 5s;
}



.star span{
    width: 100px;
    height: 2.5px;
    display: block;
    background-image: linear-gradient(to right, rgb(0,116,255), transparent);
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    animation: shooting 2s linear infinite;
    filter: drop-shadow(0 0 5px rgb(0,116,255));
}

.star span::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 5px;
    height: 5px;
    background-color: rgb(0,116,255);
    box-shadow: 0 0 5px rgb(0,116,255);
}

@keyframes shooting{
    0%{
        transform: translateY(-200px) rotate(-90deg);
        opacity: 1;
    }

    100% {
        transform: translateY(500px) rotate(-90deg);
        opacity: 0;
    }
}

#introduction{
    position: absolute;
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0,116,255);
    word-break: break-word;
    /* line-break: auto; */
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
}

/* #spotify-player{
    position: absolute;
    right: 30px;
    bottom: 0px;

} */

#spotify-player{
    display: flex;
}

a{
    cursor: none;
}

#contact{
    position: absolute;
    display: flex;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(0,116,255);
    left: 20px;
    bottom: 10px;
    /* background-color: black; */
}

#contact span:nth-of-type(2) {
    padding-left: 20px;

}

#contact span:nth-of-type(3) {
    padding-left: 20px;

}

#txt:hover{
    color: black;
}



#work{
    position: absolute;
    /* background-color: rgb(36, 36, 36); */
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0,116,255);
    /* box-sizing: border-box;
    padding: 20px; */
    overflow: scroll;
    font-size: 16px;
    /* line-height: 20px; */
}

#work > div {
    border-bottom: 1px solid rgb(0,116,255);
    box-sizing: border-box;
    padding-left: 5px;
  }

#work > div:hover {
    background-color: rgb(0, 116, 255);
    color: black;
}

#list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    position: sticky;
    background-color: black;
    top: 0;
}

/* #s-dec{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-content: center;
    margin-top: -15px;
}

#s1{
    width: 10px;
    height: 10px;
    background-color: rgb(0,116,255);
}


#s2{
    width: 10px;
    height: 10px;
    background-color: rgb(0,116,255);
} */

#the-wishlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#cd-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#sound-projection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#the-face{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#the-face span:first-of-type {
    font-size: 14px;
}

#spreadsheet{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

/* #spreadsheet span:first-of-type {
    box-sizing: border-box;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 13px;
} */

#self-introduction{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#twofivesix-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#laika{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#jovial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#sunset-sunrise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#flipping{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#dance-club{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#wishes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#litter-trace{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#images-videos{
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* background-color: rgb(36, 36, 36); */
    width: 50%;
    height: 50%;
    overflow: scroll;
}

#works-video{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#works-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.controls{
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0,116,255);
}

.controls[data-state="hidden"] {
    display: none;
  }
  
  .controls[data-state="visible"] {
    display: block;
  }

#play-pause{
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 25px;

}

#stop{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;

}

  
button{
    cursor: none;
}

#fs{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 16px;
}


#description{
    position: absolute;
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0,116,255);
    word-break: break-word;
    /* line-break: auto; */
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    height: 50%;
    overflow: scroll;
}

#visit {
    position: absolute;
    bottom: 10px;

}

#nextButton{
    position: absolute;
    display: none;
    left: 20px;
    bottom: 10px;
    font-size: 25px;
    color: rgb(0,116,255);
    
}

#prevButton{
    position: absolute;
    display: none;
    right: 20px;
    bottom: 10px;
    font-size: 25px;
    color: rgb(0,116,255);
    
}

#enlargeButton{
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-weight: 300;
    right: 20px;
    top: 10px;
    font-size: 16px;
    color: rgb(0,116,255);
    z-index: 10;
}

#loader{
    position: absolute;
    left: 20px;
    top: 10px;
    display: none;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(0,116,255);
}

#opening-loader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
  }
  


#line-horizontal {
    position: absolute;
    background-color: rgb(0,116,255);
    transition: all 1s ease-in-out;
    height: 1px;
    width: 0%;
    top: 50%;
  }
  
  #line-vertical {
    position: absolute;
    background-color: rgb(0,116,255);
    transition: all 1s ease-in-out;
    width: 1px;
    height: 0%;
    left: 50%;
  }

  /* .star{
    position: absolute;
    background: white;
    border-radius: 100%;
    animation: shine 0.8s infinite alternate ease-in-out;
    display: block;
    filter: blur(0.5px);
}


@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
} */




@media only screen and (max-width: 600px) {

    /* html{
        font-size: 30px;
    } */

    #introduction{
        padding: 20px;
        font-size: 25px;
        line-height: 30px;
    }

    #contact{
        font-size: 25px;
        left: 20px;
        bottom: 10px;
    }

    #work{
        font-size: 25px;
    }

    #description{
        padding: 20px;
        font-size: 25px;
        line-height: 30px;
    }

    #fs{
        font-size: 25px;
    }

    #enlargeButton{
        font-size: 25px;
    }

    #loader{
        font-size: 25px;
    }

}


@media only screen and (min-width: 600px) {
    #introduction{
        padding: 20px;
        font-size: 25px;
        line-height: 30px;
    }

    #contact{
        font-size: 25px;
        left: 20px;
        bottom: 10px;
    }

    #work{
        font-size: 25px;
    }

    #description{
        padding: 20px;
        font-size: 25px;
        line-height: 30px;
    }

    #fs{
        font-size: 25px;
    }

    #enlargeButton{
        font-size: 25px;
    }

    #loader{
        font-size: 25px;
    }
}


@media only screen and (min-width: 768px) {
    #introduction{
        padding: 20px;
        font-size: 19px;
        line-height: 23px;
    }

    #contact{
        font-size: 19px;
    }

    #work{
        font-size: 19px;
    }

    #description{
        padding: 20px;
        font-size: 19px;
        line-height: 23px;
    }

    #fs{
        font-size: 19px;
    }

    #enlargeButton{
        font-size: 19px;
    }

    #loader{
        font-size: 19px;
    }
}


@media only screen and (min-width: 992px) {
    #introduction{
        padding: 20px;
        font-size: 18px;
        line-height: 21px;
    }

    #contact{
        font-size: 18px;
    }

    #work{
        font-size: 18px;
    }

    #description{
        padding: 20px;
        font-size: 18px;
        line-height: 21px;
    }

    #fs{
        font-size: 18px;
    }

    #enlargeButton{
        font-size: 18px;
    }

    #loader{
        font-size: 18px;
    }
}





@media only screen and (min-width: 1200px) {
    #introduction{
        padding: 20px;
        font-size: 16px;
        line-height: 20px;
    }

    #contact{
        font-size: 16px;
    }

    #work{
        font-size: 16px;
    }

    #description{
        padding: 20px;
        font-size: 16px;
        line-height: 20px;
    }

    #fs{
        font-size: 16px;
    }

    #enlargeButton{
        font-size: 16px;
    }

    #loader{
        font-size: 16px;
    }
}